//variables
//fonts
$font: 'Gilroy', Arial, sans-serif;

//colors
$text: #4D4D4D;
$bg: #ffffff;

$black-main: #333333;
$main-color: #dda75d;
$grey-new: #e5e5e5;
$new-yellow: #ffdd2d;
$gray-line: #dbdbdb;
$black: #1f1f1f;
$or: #ff4a00;
$icon: #c9c9c9;
$hover: #D96334;
$border: #c4c4c4;

//another
$font-size: 14px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/food";
@import "sections/actions";
@import "sections/about";
@import "sections/contacts";
@import "sections/basket";
@import "sections/order";
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}