extends ../main

block variables
    - var title = 'Maxirolls'

block content
    main.about
        .container
            h1.title.about__title О компании
            .row
                .about__content.content
                    p Обычно люди приходят в Додо Пиццу, чтобы просто поесть. Наши промоутеры раздают листовки про кусочек пиццы за двадцать рублей или ещё что-то выгодное. Мы делаем это как первый шаг, чтобы познакомиться.
                    p Но для нас Додо — не только пицца. Это и пицца тоже, но в первую очередь это большое дело, которое вдохновляет нас, заставляет каждое утро просыпаться и с интересом продолжать работу.
                    p В чём же наш интерес? Сейчас расскажем.
                    +image('images/content/about/1.jpg')
                    +image('images/content/about/2.jpg')
                    p Обычно люди приходят в Додо Пиццу, чтобы просто поесть. Наши промоутеры раздают листовки про кусочек пиццы за двадцать рублей или ещё что-то выгодное. Мы делаем это как первый шаг, чтобы познакомиться.
                    p Но для нас Додо — не только пицца. Это и пицца тоже, но в первую очередь это большое дело, которое вдохновляет нас, заставляет каждое утро просыпаться и с интересом продолжать работу.
                    p В чём же наш интерес? Сейчас расскажем.
                    +image('images/content/about/1.jpg')
                    +image('images/content/about/2.jpg')
                    p Обычно люди приходят в Додо Пиццу, чтобы просто поесть. Наши промоутеры раздают листовки про кусочек пиццы за двадцать рублей или ещё что-то выгодное. Мы делаем это как первый шаг, чтобы познакомиться.
                    p Но для нас Додо — не только пицца. Это и пицца тоже, но в первую очередь это большое дело, которое вдохновляет нас, заставляет каждое утро просыпаться и с интересом продолжать работу.
                    p В чём же наш интерес? Сейчас расскажем.
                    p
                        a(href='/') Наша компания обладает современным&nbsp;
                        | оборудованием для тиснения логотипов на изделиях из натуральной и искусственной кожи, включая обложки ежедневников. Логотип золотого, серебряного или другого нужного цвета выдавливается в материале под воздействием температуры и давления. Вы можете разместить заказ на тиснение по коже фольгой или без нее позвонив по телефону +7 495 369-53-75
                    h4 Пример списка
                    ol
                        li Мы работаем исключительно на современном оборудовании.
                        li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                        li У нас работают высококвалифицированные специалисты.
                            ul
                                li Мы работаем исключительно на современном оборудовании.
                                li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                                li У нас работают высококвалифицированные специалисты.
                        li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной продукции.
                        li Мы выполним свою работу по тиснению логотипа на коже лучше чем вы можете предположить!
                        li Низкие цены на услуги.
                    ul
                        li Мы работаем исключительно на современном оборудовании.
                            ul
                                li Мы работаем исключительно на современном оборудовании.
                                li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                                li У нас работают высококвалифицированные специалисты.
                        li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                        li У нас работают высококвалифицированные специалисты.
                            ol
                                li Мы работаем исключительно на современном оборудовании.
                                li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                                li У нас работают высококвалифицированные специалисты.
                        li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной продукции.
                        li Мы выполним свою работу по тиснению логотипа на коже лучше чем вы можете предположить!
                        li Низкие цены на услуги.

                    ol
                        li Мы работаем исключительно на современном оборудовании.
                            ol
                                li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                                li У нас работают высококвалифицированные специалисты.
                                li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной продукции
                            li Качество тиснения логотипов на коже гарантировано многолетним опытом.
                            li У нас работают высококвалифицированные специалисты.
                            li Мы оказываем профессиональную помощь в создании уникальной сувенирной и корпоративной.
                            li Мы выполним свою работу по тиснению логотипа на коже лучше чем вы можете предположить!
                            li Низкие цены на услуги.
                    h2 Пример таблицы
                    table
                        thead
                            tr
                                th Тариф
                                th Скорость
                                th Стоимость (промо)
                                th Стоимость (после)
                        tbody
                            each tr in table
                                tr
                                    each td in tr
                                        td= td
                    h3 Видео с Youtube
                    .yt
                        iframe(src="https://www.youtube.com/embed/CB4KejyoBP4" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)







