extends ../main

block variables
    - var title = 'Maxirolls'

block content
    main.actions
        .container
            h1.title.actions__title Акции
            .actions__list
                +actions(iactions2,true)







