//variables
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {
  ul {
    margin: 35px 0;

    color: #000000;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42;

    li {
      padding-left: 15px;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        background-color: $or;
        border-radius: 50%;
        margin-right: 20px;
        line-height: inherit;
        top: 7px;

        position: absolute;
        left: 0;
      }

      ol {
        margin: 10px 0 10px 20px;
        counter-reset: li;

        li {
          &:before {
            counter-increment: li;
            content: counters(li, ".") ". ";
            margin-right: 20px;
            display: inline-block;
            width: auto;
            height: auto;
            background: none;
            color: $or;
            top: 0;
          }
        }
      }

      ul {
        margin: 10px 0 10px 20px;
        li {
          &:before {
            background-color: $or;
          }
        }
      }
    }
  }

  ol {
    margin: 35px 0;
    counter-reset: li;
    color: #000000;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42;

    li {
      position: relative;
      padding-left: 25px;
      &:before {
        counter-increment: li;
        content: counters(li, ".") ". ";
        margin-right: 20px;
        display: inline-block;
        color: $or;
        position: absolute;
        left: 0;
        top: 0;
      }

      ul {
        margin: 10px 0 10px 20px;
        counter-reset: none;

        li {
          padding-left: 15px;
          &:before {
            content: '';
            top: 8px;
          }
        }
      }

      ol{
        margin: 10px 0 10px 20px;
      }
    }

  }

  h1 {
    margin: 35px 0;
  }
  h2 {
    margin: 35px 0;
  }
  h3 {
    margin: 35px 0;
  }
  h4 {
    margin: 35px 0;
  }
  h5 {
    margin: 35px 0;
  }
  h5 {
    margin: 35px 0;
  }
  p {
    color: #000000;
    font-size: 16px;
    margin: 15px 0;
  }

  img {
    border-radius: 10px;
    overflow: hidden;
    display: inline-flex;
    max-width: calc(50% - 10px);
    margin-bottom: 30px;
    margin-top: 25px;
    @include sm-block{
      width: 100%;
      max-width: 100%;
      display: block;
    }

    &:nth-of-type(even) {
      margin-left: 20px;
      @include sm-block{
        margin-left: 0;
      }
    }
  }

  a{
    color: $or;
    text-decoration: underline;
    &:hover{
      color: #828282;
    }
  }

  table{
    width: 100%;
    font-size: 16px;
    margin: 40px 0;
    border-collapse: collapse;
    color: #000000;

    @include lg-block{
      font-size: 14px;
    }

    th{
      font-weight: 600;
      padding: 15px;
      background-color: $or;
      color: $bg;
      text-align: left;
    }


    tr{
      &:nth-child(odd){
        background-color: #f2f2f2;

        @include sm-block{
          background-color: $bg;
        }

      }
      &:nth-child(even){
        background-color: $bg;
      }

      &.first{
        background-color: $or;
        color: $bg;
      }

    }

    td {
      border: none;
      padding: 15px 20px;
      font-weight: 500;
      @include sm-block{
        padding: 13px 10px;
      }
    }
  }

  .yt{
    position: relative;
    margin: 20px 0;

    &:before{
      content: '';
      display: block;
      padding-top: calc(9/16*100%);
    }


    iframe{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

@mixin headers() {

  h1,h2,h3,h4,h5,h6{
    color: #000000;
    font-weight: 600;
  }

  h1 {
    font-size: 45px;
    @include lg-block{
      font-size: 36px;
    }
    @include sm-block{
      font-size: 26px;
    }
  }
  h2 {
    font-size: 40px;
    @include lg-block{
      font-size: 32px;
    }
    @include sm-block{
      font-size: 24px;
    }
  }
  h3 {
    font-size: 35px;
    @include lg-block{
      font-size: 28px;
    }
    @include sm-block{
      font-size: 20px;
    }
  }
  h4 {
    font-size: 24px;
    @include lg-block{
      font-size: 20px;
    }
    @include sm-block{
      font-size: 18px;
    }
  }
  h5 {
    font-size: 20px;
    @include lg-block{
      font-size: 18px;
    }
    @include sm-block{
      font-size: 16px;
    }
  }
  h6 {
    font-size: 16px;
    @include sm-block{
      font-size: 14px;
    }
  }
}

@mixin tr() {
  transition: .3s;
}

@mixin priceLine(){
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -3px;
    right: -3px;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    background: #ff4a00;
    transform: rotate(-10deg);
  }
}