.basket {
  padding: 90px 0;
  @include lg-block {
    padding-top: 50px;
    padding-bottom: 110px;
  }
  @include sm-block {
    padding-top: 30px;
    padding-bottom: 85px;
  }

  &__logo {
    @include sm-block {
      margin-bottom: 25px;
    }

    svg {
      @include sm-block {
        width: 194px;
        height: 32px;
      }
    }
  }

  &__steps {
    @include lg-block {
      margin-right: 15px;
    }
    @include sm-block {
      margin-right: 0;
    }
  }

  &__wrap {
    @include col;
    @include size(18);
    @include shift(3);
    @include size-lg(24);
    @include shift-lg(0);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid $gray-line;
    @include sm-block {
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  }

  &__title {
    color: #242323;
    font-size: 36px;
    font-weight: 600;
    @include sm-block {
      font-size: 26px;
    }
  }

  &__num {
    color: $or;
    font-size: 24px;
    font-weight: 600;
    @include sm-block {
      font-size: 18px;
    }
  }

  &__list {
    @include sm-block {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__subtop {
    padding: 40px 0;
    border-bottom: 1px solid $gray-line;

    @include sm-block {
      padding: 34px 10px;
      margin-left: -10px;
      margin-right: -10px;
    }

  }

  &__sub {
    color: #242323;
    font-size: 26px;
    font-weight: 600;
    @include sm-block {
      font-size: 20px;
    }
  }

  &__free {
    margin-bottom: 70px;
    @include sm-block {
      margin-bottom: 50px;
    }
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 20px;
  }

  &__arr {
    fill: $gray-line;
    padding: 10px 0;
    outline: none;
    @include tr;

    &:hover {
      fill: $or;
    }

    svg {
      display: block;
    }
  }

  &__adds {
    margin-bottom: 40px;
    @include sm-block {
      margin-bottom: 15px;
    }
  }

  &__promo {
    margin-bottom: 60px;
    @include sm-block{
      margin-bottom: 25px;
    }
  }

  &__total {
    margin-bottom: 80px;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm-block{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
    }
  }

  &__back,&__submit{
    @include sm-block{
      width: 100%;
      max-width: 100%;
    }
  }

}

.bitem {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 0 60px;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $gray-line;
  @include lg-block {
    grid-gap: 0 30px;
  }
  @include sm-block {
    padding: 15px 0;
    padding-left: 15px;
    padding-right: 25px;
    grid-gap: 20px;
    grid-template-columns: 70px 1fr;
  }

  &__img {
    display: block;
    position: relative;
    @include tr;

    &:hover {
      transform: translateX(10px);
    }

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    padding-right: 60px;
    position: relative;
    @include lg-block {
      padding-right: 55px;
    }
    @include sm-block {
      flex-wrap: wrap;
      padding-right: 0;
    }
  }

  &__desc {
    max-width: 269px;
    width: 269px;
    margin-right: 70px;
    color: #242323;
    @include lg-block {
      margin-right: 20px;
      max-width: 260px;
      width: 260px;
    }
    @include sm-block {
      width: 100%;
      padding-right: 60px;
      margin-right: 0;
      margin-bottom: 13px;
    }

    &:hover {
      color: $or;
    }
  }

  &__title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    @include lg-block {
      font-size: 18px;
    }
    @include sm-block {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__chars {
    display: block;
    color: #6b6b6b;
    @include lg-block {
      font-size: 14px;
    }
    @include sm-block {
      font-size: 12px;
    }
  }

  &__count {
    width: 117px;
    margin-right: 30px;
    @include lg-block {
      margin-right: 15px;
    }
    @include sm-block {
      width: 96px;
    }
  }

  &__prices {
    flex-grow: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include lg-block {
      flex-direction: column;
      align-items: flex-end;
      justify-content: initial;
    }
    @include sm-block {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__priceold {
    color: #242323;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
    position: relative;

    @include priceLine;

    @include lg-block {
      margin-right: 0;
    }
    @include sm-block {
      margin-right: 10px;
    }
  }

  &__price {
    color: #242323;
    font-size: 20px;
    font-weight: 600;

    &_new {
      color: $or;
    }
  }

  &__delete {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    fill: $gray-line;
    @include tr;
    @include sm-block {
      top: 20px;
      right: 0;
      svg {
        width: 14px;
        height: 14px;
      }
    }

    &:hover {
      fill: $or;
    }
  }

  &__num {
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
  }
}

.badd {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid $gray-line;
  background-color: #ffffff;
  height: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  @include tr;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }


  &__top {
    padding: 20px 30px;
    @include sm-block {
      padding: 10px 15px;
      padding-bottom: 0;
    }
  }

  &__img {
    position: relative;
    display: block;
    @include tr;

    &:hover {
      transform: translateY(10px);
    }

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    padding: 0 15px 20px 15px;
    display: flex;
    flex-direction: column;
    color: #000000;
    @include sm-block {
      padding: 8px;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 15px;
    @include tr;

    @include sm-block {
      font-size: 12px;
      margin-bottom: 5px;
    }

    &:hover {
      color: $or;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 600;
    margin-top: auto;
    @include sm-block {
      font-size: 14px;
    }
  }

  &__btns {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    @include sm-block {
      width: 18px;
      height: 18px;
    }

    svg {
      @include sm-block {
        width: 8px;
        height: 8px;
      }

    }

    &.disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__minus {
    background-color: #e0e0e0;
  }

  &__plus {
    background-color: $or;
  }

  &__count {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 59px;
    height: 31px;
    border-radius: 9px 0px;
    background-color: $or;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;

    @include sm-block {
      width: 47px;
      height: 25px;
      font-size: 12px;
    }


    &.active {
      display: flex;

    }
  }

}

.bpromo {
  border-bottom: 1px solid $gray-line;
  padding: 60px 0;
  display: grid;
  grid-template-columns: 415fr 400fr;
  grid-gap: 0 70px;
  align-items: center;
  @include lg-block {
    grid-template-columns: 390fr 310fr;
    grid-gap: 0 20px;
    padding: 30px 0;
  }
  @include sm-block {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 30px 10px;
  }

  &__left {
    display: grid;
    grid-template-columns: 240fr 155fr;
    grid-gap: 0 20px;
  }

  &__submit {
    width: 100%;
    height: 50px;
  }

  &__right {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0 50px;
    align-items: center;
    @include lg-block {
      grid-gap: 20px;
    }

  }

  &__txt {
    color: #242323;
    font-size: 16px;
    font-weight: 300;
    @include lg-block {
      font-size: 14px;
    }
  }

}

.btotal {

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
    font-size: 16px;
    color: #6b6b6b;
    @include sm-block{
      font-size: 14px;
    }

    &_b {
      color: #242323;
      font-size: 22px;
      @include sm-block{
        font-size: 18px;
      }

      .btotal__item {

        &-name {
          font-weight: 600;
        }

        &-val {
          font-size: 34px;
          font-weight: 700;
          @include sm-block{
            font-size: 30px;
          }
        }
      }
    }

    &_m {
      font-size: 18px;
      color: #219653;
      @include sm-block{
        font-size: 16px;
      }

      .btotal__item {
        &-name {
          font-weight: 600;
        }

        &-val {
          font-size: 24px;
          font-weight: 700;
          @include sm-block{
            font-size: 24px;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px dotted $border;
    }

    &-name {
      display: flex;
      margin-right: 20px;
      background: $bg;
      position: relative;
      z-index: 2;
      padding-right: 5px;
    }

    &-val {
      white-space: nowrap;
      background: $bg;
      position: relative;
      z-index: 2;
      font-size: 18px;
      font-weight: 600;
      padding-left: 5px;

      &_or {
        color: $or;
      }
    }
  }
}

.bsteps {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.bstep {
  position: relative;
  border-color: #bdbdbd;
  color: $black;
  font-size: 16px;
  font-weight: 600;

  &.active {
    border-color: $or;
    color: $or;
  }

  &.inactive {
    color: #bdbdbd;
    pointer-events: none;
  }

  &.checked {
    .bstep {
      &__num {
        border-color: #27AE60;

        &:before {
          display: block;
        }
      }
    }

  }

  &__num {
    width: 35px;
    height: 36px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #27AE60 url("/images/icons/check.svg") center center no-repeat;
      background-size: 14px 11px;
      display: none;
    }
  }

  &__name {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    color: $black;
    font-size: 14px;
    font-weight: 600;
  }
}

.bsep {
  @include lg-block {
    svg {
      width: 72px;
      height: 8px;
    }
  }
}

