.header {
  padding-top: 62px;

  &_basket {
    padding-top: 0;
    border-bottom: 1px solid $gray-line;
  }

  &__top {
    background-color: #f4f4f4;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
  }

  &__nav {
    @include col;
    @include size(18);
  }

  &__links {
    @include col;
    @include size(6);
    display: flex;
    flex-wrap: wrap;
    //margin-left: -10px;
    //margin-right: -10px;
    justify-content: flex-end;
  }

  &__link {
    margin: 0 10px;
  }

  &__bottom {
    padding-top: 40px;
    padding-bottom: 60px;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__tel {
    color: #242323;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @include tr;

    &:hover {
      color: #ff4a00;
    }

    svg {
      margin-right: 10px;
    }
  }

  &__time {
    color: #7e7e7e;
    font-size: 16px;
  }

  &__basket {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.hlink {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  stroke: #000000;
  padding: 18px 0;
  @include tr;

  &:hover {
    color: #ff4a00;
    stroke: #ff4a00;
  }

  &__icon {
    position: relative;
    margin-right: 16px;

    svg {
      display: block;
    }
  }

  &__count {
    position: absolute;
    top: -8px;
    right: -12px;

    width: 22px;
    height: 22px;
    background-color: #27ae60;
    border-radius: 50%;

    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.hcity {

  &__top {
    display: flex;
    color: #242323;
    @include tr;


    &:hover {
      color: $or;

      svg {
        fill: $or;
      }
    }

    svg {
      fill: #242323;
      @include tr;
    }
  }

  &__icon {
    margin-right: 15px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }

  &__city {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
  }

  &__txt {
    max-width: 175px;
    color: #7e7e7e;
    font-size: 16px;
  }


}

.hlogo {

}

.hnav {


  &__item {
    padding: 20px 0;
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    width: auto;
    @include tr;

    &:hover {
      color: $or;
    }
  }
}
