.header {
  padding-top: 62px;
  @include sm-block {
    padding-top: 0;
  }

  &_basket {
    padding-top: 0;
    border-bottom: 1px solid $gray-line;
  }

  &__top {
    background-color: #f4f4f4;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    @include sm-block {
      display: none;
    }

    .container {
      display: flex;
    }
  }


  &__nav {
    //@include col;
    //@include size(18);
    flex-grow: 1;
    margin-right: 20px;
  }

  &__links {
    //@include col;
    //@include size(6);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__link {
    margin: 0 10px;
  }

  &__bottom {
    padding-top: 40px;
    padding-bottom: 60px;
    @include lg-block {
      padding-top: 40px;
      padding-bottom: 50px;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include lg-block {
        align-items: flex-start;
      }
      @include sm-block {
        align-items: center;
      }
    }
  }

  &__mmenu-btn {
    display: none;
    @include sm-block {
      display: block;
    }
  }

  &__city {
    @include sm-block {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__tel {
    color: #242323;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @include tr;

    @include lg-block {
      font-size: 16px;
    }
    @include sm-block {
      font-size: 0;
    }

    &:hover {
      color: #ff4a00;
    }

    svg {
      margin-right: 10px;
      @include sm-block {
        margin-right: 0;
      }
    }
  }

  &__time {
    color: #7e7e7e;
    font-size: 16px;
    @include lg-block {
      font-size: 14px;
    }
    @include sm-block {
      display: none;
    }
  }

  &__basket {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.hlink {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  stroke: #000000;
  padding: 18px 0;
  position: relative;
  @include tr;

  &:hover {

    .hlink {
      &__icon {
        stroke: #ff4a00;
      }

      &__txt {
        color: #ff4a00;
      }

      &__dropdown {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
      }
    }

  }

  &__icon {
    position: relative;
    margin-right: 16px;
    cursor: pointer;


    svg {
      display: block;
    }
  }

  &__count {
    position: absolute;
    top: -8px;
    right: -12px;
    width: 22px;
    height: 22px;
    background-color: #27ae60;
    border-radius: 50%;

    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__txt {
    cursor: pointer;
    @include lg-block {
      display: none;
    }
  }

  &__dropdown {
    position: absolute;
    right: -15px;
    top: calc(100% - 5px);
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    @include tr;

  }

}

.hcity {

  &__top {
    display: flex;
    color: #242323;
    @include tr;


    &:hover {
      color: $or;

      svg {
        fill: $or;
      }
    }

    svg {
      fill: #242323;
      @include tr;
    }
  }

  &__icon {
    margin-right: 15px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }

  &__city {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    @include lg-block {
      font-size: 16px;
    }
  }

  &__txt {
    max-width: 175px;
    color: #7e7e7e;
    font-size: 16px;
    @include lg-block {
      font-size: 14px;
    }
  }


}

.hlogo {
  display: block;

  @include lg-block {
    width: 235px;
    height: 42px;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.hnav {


  &__item {
    padding: 20px 0;
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    width: auto;
    @include tr;

    &:hover {
      color: $or;
    }
  }
}

.cart {
  width: 379px;
  max-height: 721px;
  border-radius: 10px;
  background-color: $bg;
  display: grid;
  grid-template-rows: 1fr auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent $bg transparent;
    position: absolute;
    bottom: 100%;
    right: 65px;
  }


  &__list {
    overflow-Y: auto;
    margin-top: 10px;
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 20px;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: $gray-line;
    }

  }

  &__bottom {
    padding: 30px;
    padding-top: 20px;
  }

  &__totals {
    margin-bottom: 35px;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &-name {
      color: #000000;
      font-size: 18px;
    }

    &-val {
      color: #242323;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__link {
    width: 196px;
    height: 50px;
    margin: 0 auto;
  }

}

.crtitem {
  position: relative;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 0 10px;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $gray-line;

  &__delete {
    position: absolute;
    top: 15px;
    right: -10px;
    stroke: transparent;
    fill: $gray-line;
    padding: 10px;
    @include tr;

    svg {
      display: block;
    }

    &:hover {
      stroke: $or;
      fill: $or;
    }
  }

  &__title {
    padding-right: 35px;
    color: #242323;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__sub {
    color: #6b6b6b;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .count {
    width: 96px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid $border;
  }

  &__prices {
    display: flex;
    align-items: center;
    color: #242323;
  }

  &__price {
    color: #242323;
    font-size: 18px;
    font-weight: 600;

    &_n {
      color: $or;
    }
  }

  &__priceold {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    margin-right: 7px;
    @include priceLine;
  }


}
