-
    var nav = [
        {
            title: 'О нас',
            link: 'about.html'
        },
        {
            title: 'Контакты',
            link: 'contacts.html'
        },
    ];
-
    var iactions = [
        {
            title: 'Именинник',
            txt: 'подарок зависит <br> от суммы заказа'
        },
        {
            title: 'Три визитки',
            txt: 'собери три визитки <br> и получи ролл в подарок'
        },
        {
            title: 'Счастливые часы',
            txt: 'с 12:00 до 17:00 <br> по промокоду шеф - подарок'
        },
        {
            title: 'Акция дня',
            txt: 'подарок зависит <br> от суммы заказа'
        }
    ];
-
    var iactions2 = [
        {
            title: 'Именинник',
            txt: 'подарок зависит <br> от суммы заказа'
        },
        {
            title: 'Три визитки',
            txt: 'собери три визитки <br> и получи ролл в подарок'
        },
        {
            title: 'Счастливые часы',
            txt: 'с 12:00 до 17:00 <br> по промокоду шеф - подарок'
        },
        {
            title: 'Акция дня',
            txt: 'подарок зависит <br> от суммы заказа'
        },
        {
            title: 'Именинник',
            txt: 'подарок зависит <br> от суммы заказа'
        },
        {
            title: 'Три визитки',
            txt: 'собери три визитки <br> и получи ролл в подарок'
        },
        {
            title: 'Счастливые часы',
            txt: 'с 12:00 до 17:00 <br> по промокоду шеф - подарок'
        },
        {
            title: 'Акция дня',
            txt: 'подарок зависит <br> от суммы заказа'
        },

    ];
-
    var items = [
        {
            id: 'simple',
            src: 'images/content/catalog/1.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'set',
            src: 'images/content/catalog/2.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
            new: true
        },
        {
            id: 'sushi',
            src: 'images/content/catalog/3.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей,1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '1 280 ₽',
            priceold: '1 800 ₽',
            discount: true
        },
        {
            id: 'rolls',
            src: 'images/content/catalog/4.jpg',
            title: 'Запеченная калифорния"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'simple',
            src: 'images/content/catalog/5.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'set',
            src: 'images/content/catalog/6.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
            priceold: '500 ₽',
        },
        {
            id: 'sushi',
            src: 'images/content/catalog/7.jpg',
            title: 'Пепперони Фреш с томатами',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'rolls',
            src: 'images/content/catalog/8.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },

    ];
-
    var pizza = [
        {
            id: 'simple',
            src: 'images/content/pizza/1.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'simple',
            src: 'images/content/pizza/2.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',

        },
        {
            id: 'simple',
            src: 'images/content/pizza/3.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',

        },
        {
            id: 'simple',
            src: 'images/content/pizza/4.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'set',
            src: 'images/content/pizza/5.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'set',
            src: 'images/content/pizza/6.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'simple',
            src: 'images/content/pizza/7.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: 'simple',
            src: 'images/content/pizza/8.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },

    ];
-
    var table = [
        ['Акция Лайт','до 2 Мбит/с','500 руб/мес','800 руб/мес',],
        ['Акция Стандарт','до 5 Мбит/с','550 руб/мес','1100 руб/мес',],
        ['Акция Комфорт','до 10 Мбит/с','800 руб/мес','1600 руб/мес',],
    ];
-
    var basketList = [
        {
            src: 'images/content/catalog/1.jpg',
            title: 'Сет с лососем',
            chars: '1050 гр |  28 шт',
            price: '360 ₽',
            priceold: '500 ₽'
        },
        {
            src: 'images/content/pizza/1.jpg',
            title: 'Картофель с цыпленком и сыром блю чиз',
            chars: '30 см, традиционное тесто',
            price: '1 360 ₽',
            priceold: '1 500 ₽'
        },
        {
            src: 'images/content/catalog/3.jpg',
            title: 'Сет с лососем',
            chars: '1050 гр |  28 шт',
            price: '360 ₽'
        },

    ];
-
    var basketAdds = [
        {
            src: 'images/content/basket/1.jpg',
            title: 'Палочки для суши',
            price: '3 ₽'
        },
        {
            src: 'images/content/basket/2.jpg',
            title: 'Имбирь +васаби',
            price: '30 ₽'
        },
        {
            src: 'images/content/basket/3.jpg',
            title: 'Имбирь',
            price: '20 ₽'
        },
        {
            src: 'images/content/basket/4.jpg',
            title: 'Васаби',
            price: '20 ₽'
        },
        {
            src: 'images/content/basket/5.jpg',
            title: 'Соевый соус',
            price: '20 ₽'
        },
        {
            src: 'images/content/basket/6.jpg',
            title: 'Палочки для суши',
            price: '3 ₽'
        }
    ];
-
    var orderList = [
        {
            title: 'Сет с лососем',
            list: ['Горячий с крабом,','Бонито ролл с окунем,','1/2 Запеченный с курицей,','1/2 Запеченный крабовый микс,','1/2 Холодный с курицей,','1/2 Холодный крабовый микс.',]
        },
        {
            title: 'Картофель с цыпленком и сыром блю чиз',
        },
        {
            title: 'Запеченная калифорния',
        }
    ];
-
    var infoAbout = [
        {
            name: 'Ваше Имя',
            val: 'Александр'
        },
        {
            name: 'Номер телефона',
            val: '+7 999 999 99 99'
        },
        {
            name: 'Адрес доставки',
            val: 'ул. Нижние Поля, д. 31, под. 1, кв. 405, домофон 2041'
        },
        {
            name: 'Время доставки',
            val: 'Как можно скорее'
        }
    ];
-
    var infoList = [
        {
            src: 'images/content/catalog/6.jpg',
            title: 'Сет с лососем',
            price: '360 ₽',
            priceold: '500 ₽'
        },
        {
            src: 'images/content/catalog/6.jpg',
            title: 'Сет с лососем',
            price: '360 ₽'
        },
        {
            src: 'images/content/pizza/8.jpg',
            title: 'Картофель с цыпленком и сыром блю чиз',
            price: '1 360 ₽',
            chars: 'Маленькая 25 см, традиционное тесто'
        },
        {
            src: 'images/content/catalog/3.jpg',
            title: 'Сет с лососем',
            price: '360 ₽'
        },
        {
            src: 'images/content/catalog/3.jpg',
            title: 'Сет с лососем',
            price: '360 ₽'
        },
        {
            src: 'images/content/catalog/3.jpg',
            title: 'Сет с лососем',
            price: '360 ₽'
        },

    ];
-
    var accountOrders = [
        {
            title: 'Сет с лососем',
            sub: '1050 гр |  28 шт',
            price: '360 ₽'
        },
        {
            title: 'Картофель с цыпленком и сыром блю чиз',
            sub: 'Маленькая 25 см, традиционное тесто',
            price: '360 ₽'
        },
        {
            title: 'Сет с лососем',
            sub: '1050 гр |  28 шт',
            price: '1 360 ₽'
        },

    ];
-
    var cartList = [
        {
            src: 'images/content/catalog/1.jpg',
            title: 'Сет "Летний"',
            sub: '1050 гр |  34 шт',
            price: '360 ₽'
        },
        {
            src: 'images/content/pizza/1.jpg',
            title: 'Картофель с цыпленком и сыром блю чиз',
            sub: 'Маленькая 25 см, традиционное тесто',
            price: '1 360 ₽',
            priceold: '1 560 ₽'
        },
        {
            src: 'images/content/catalog/3.jpg',
            title: 'Сет "Летний"',
            sub: '1050 гр |  34 шт',
            price: '1 360 ₽'
        },
        {
            src: 'images/content/catalog/6.jpg',
            title: 'Сет "Летний"',
            sub: '1050 гр |  34 шт',
            price: '1 360 ₽'
        },
        {
            src: 'images/content/catalog/1.jpg',
            title: 'Сет "Летний"',
            sub: '1050 гр |  34 шт',
            price: '360 ₽'
        },
        {
            src: 'images/content/pizza/1.jpg',
            title: 'Картофель с цыпленком и сыром блю чиз',
            sub: 'Маленькая 25 см, традиционное тесто',
            price: '1 360 ₽',
            priceold: '1 560 ₽'
        },
        {
            src: 'images/content/catalog/3.jpg',
            title: 'Сет "Летний"',
            sub: '1050 гр |  34 шт',
            price: '1 360 ₽'
        },
        {
            src: 'images/content/catalog/6.jpg',
            title: 'Сет "Летний"',
            sub: '1050 гр |  34 шт',
            price: '1 360 ₽'
        },

    ];
-
    var productInfo = [
        {
            name: 'Энерг. ценность',
            val: '301,1 ккал'
        },
        {
            name: 'Энерг. ценность',
            val: '9,4 г'
        },
        {
            name: 'Жиры',
            val: '15,5 г'
        },
        {
            name: 'Углеводы',
            val: '28,8 г'
        },
        {
            name: 'Вес',
            val: '410 г'
        },
        {
            name: 'Диаметр',
            val: '410 г'
        },

    ];
-
    var productFiilling = [
        {
            txt: 'с креветкой',
            price: '220 ₽',
            checked: true
        },
        {
            txt: 'с крабом',
            price: '190 ₽'
        },
        {
            txt: 'с лососем',
            price: '200 ₽'
        },
        {
            txt: 'с окунем',
            price: '200 ₽'
        }
    ];