-
    var nav = [
        {
            title: 'О нас',
            link: 'about.html'
        },
        {
            title: 'Контакты',
            link: 'contacts.html'
        },
    ];

-
    var iactions = [
        {
            title: 'Именинник',
            txt: 'подарок зависит <br> от суммы заказа'
        },
        {
            title: 'Три визитки',
            txt: 'собери три визитки <br> и получи ролл в подарок'
        },
        {
            title: 'Счастливые часы',
            txt: 'с 12:00 до 17:00 <br> по промокоду шеф - подарок'
        },
        {
            title: 'Акция дня',
            txt: 'подарок зависит <br> от суммы заказа'
        }
    ];
-
    var iactions2 = [
        {
            title: 'Именинник',
            txt: 'подарок зависит <br> от суммы заказа'
        },
        {
            title: 'Три визитки',
            txt: 'собери три визитки <br> и получи ролл в подарок'
        },
        {
            title: 'Счастливые часы',
            txt: 'с 12:00 до 17:00 <br> по промокоду шеф - подарок'
        },
        {
            title: 'Акция дня',
            txt: 'подарок зависит <br> от суммы заказа'
        },
        {
            title: 'Именинник',
            txt: 'подарок зависит <br> от суммы заказа'
        },
        {
            title: 'Три визитки',
            txt: 'собери три визитки <br> и получи ролл в подарок'
        },
        {
            title: 'Счастливые часы',
            txt: 'с 12:00 до 17:00 <br> по промокоду шеф - подарок'
        },
        {
            title: 'Акция дня',
            txt: 'подарок зависит <br> от суммы заказа'
        },

    ];


-
    var items = [
        {
            id: '1',
            src: 'images/content/catalog/1.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '2',
            src: 'images/content/catalog/2.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '3',
            src: 'images/content/catalog/3.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей,1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '1 280 ₽',
            priceold: '1 800 ₽',
        },
        {
            id: '4',
            src: 'images/content/catalog/4.jpg',
            title: 'Запеченная калифорния"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '5',
            src: 'images/content/catalog/5.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '6',
            src: 'images/content/catalog/6.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
            priceold: '500 ₽',
        },
        {
            id: '7',
            src: 'images/content/catalog/7.jpg',
            title: 'Пепперони Фреш с томатами',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '8',
            src: 'images/content/catalog/8.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },

    ];
-
    var pizza = [
        {
            id: '9',
            src: 'images/content/pizza/1.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '10',
            src: 'images/content/pizza/2.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '11',
            src: 'images/content/pizza/3.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '12',
            src: 'images/content/pizza/4.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '13',
            src: 'images/content/pizza/5.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '14',
            src: 'images/content/pizza/6.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '15',
            src: 'images/content/pizza/7.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },
        {
            id: '16',
            src: 'images/content/pizza/8.jpg',
            title: 'Сет "Летний"',
            chars: '1050 гр |  34 шт',
            txt: 'Горячий с крабом, Бонито ролл с окунем, 1/2 Запеченный с курицей, 1/2 Запеченный крабовый микс...',
            price: '360 ₽',
        },

    ];
-
    var table = [
        ['Акция Лайт','до 2 Мбит/с','500 руб/мес','800 руб/мес',],
        ['Акция Стандарт','до 5 Мбит/с','550 руб/мес','1100 руб/мес',],
        ['Акция Комфорт','до 10 Мбит/с','800 руб/мес','1600 руб/мес',],
    ];
-
    var basketList = [
        {
            src: 'images/content/catalog/1.jpg',
            title: 'Сет с лососем',
            chars: '1050 гр |  28 шт',
            price: '360 ₽',
            priceold: '500 ₽'
        },
        {
            src: 'images/content/pizza/1.jpg',
            title: 'Картофель с цыпленком и сыром блю чиз',
            chars: '30 см, традиционное тесто',
            price: '1 360 ₽',
            priceold: '1 500 ₽'
        },
        {
            src: 'images/content/catalog/3.jpg',
            title: 'Сет с лососем',
            chars: '1050 гр |  28 шт',
            price: '360 ₽'
        },

    ];
-
    var basketAdds = [
        {
            src: 'images/content/basket/1.jpg',
            title: 'Палочки для суши',
            price: '3 ₽'
        },
        {
            src: 'images/content/basket/2.jpg',
            title: 'Имбирь +васаби',
            price: '30 ₽'
        },
        {
            src: 'images/content/basket/3.jpg',
            title: 'Имбирь',
            price: '20 ₽'
        },
        {
            src: 'images/content/basket/4.jpg',
            title: 'Васаби',
            price: '20 ₽'
        },
        {
            src: 'images/content/basket/5.jpg',
            title: 'Соевый соус',
            price: '20 ₽'
        },
        {
            src: 'images/content/basket/6.jpg',
            title: 'Палочки для суши',
            price: '3 ₽'
        }
    ];

-
    var orderList = [
        {
            title: 'Сет с лососем',
            list: ['Горячий с крабом,','Бонито ролл с окунем,','1/2 Запеченный с курицей,','1/2 Запеченный крабовый микс,','1/2 Холодный с курицей,','1/2 Холодный крабовый микс.',]
        },
        {
            title: 'Картофель с цыпленком и сыром блю чиз',
        },
        {
            title: 'Запеченная калифорния',
        }
    ];